<p id="notice"><%= notice %></p>

<p>
  <strong>Texto:</strong>
  <%= @tb_mensagem.texto %>
</p>

<p>
  <strong>Dt envio:</strong>
  <%= @tb_mensagem.dt_envio %>
</p>

<p>
  <strong>Tb usuario:</strong>
  <%= @tb_mensagem.tb_usuario %>
</p>

<p>
  <strong>Tb usuario:</strong>
  <%= @tb_mensagem.tb_usuario %>
</p>

<%= link_to 'Edit', edit_tb_mensagem_path(@tb_mensagem) %> |
<%= link_to 'Back', tb_mensagems_path %>
